---
import Base from '@/layouts/Base.astro';
import { getCollection } from 'astro:content';

const allArticles = await getCollection('research');
const sortedArticles = allArticles
  .filter(a => !a.data.draft)
  .sort((a, b) => {
    const numA = parseInt(a.slug.split('-')[0], 10) || 0;
    const numB = parseInt(b.slug.split('-')[0], 10) || 0;
    return numB - numA;
  });
---

<Base title="Debug Sorting">
  <div class="container">
    <h1>Debug Sorting</h1>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Slug</th>
          <th>Parsed Number</th>
        </tr>
      </thead>
      <tbody>
        {sortedArticles.map((article, index) => {
          const num = parseInt(article.slug.split('-')[0], 10);
          return (
            <tr>
              <td>{index}</td>
              <td>{article.slug}</td>
              <td>{num}</td>
            </tr>
          );
        })}
      </tbody>
    </table>
  </div>
</Base>
